<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2019 OpenSynergy Indonesia
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl). -->

<openerp>
<data>

<menuitem
    id="property_rental_root_menu"
    name="Rental"
    parent="property_base.menu_property_base"
    sequence="2"
    />

</data>
</openerp>
